<!DOCTYPE html>
<html ng-app="dotcom">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
    <link data-themer />
    <link rel="stylesheet" href="css/themer.css" type="text/css" />

  </head>
  <body>

    <div ng-controller="DotcomCtrl">

      <header class="home-header navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <span class="navbar-brand h1">{{pageTitle}}</span>
          </div>

          <div class="collapse navbar-collapse">
            <span class="h1 navbar-brand navbar-left"><small>{{pageSubtitle}}</small></span>
            <form class="navbar-form navbar-right home-search" role="search" action="{{searchInfo.Url}}">
              <div class="form-group">
                <input type="text" class="form-control" name="{{searchInfo.InputName}}" placeholder="{{searchInfo.Name}}" ng-focus="isActive = true" ng-blur="isActive = false">
              </div>
              <button type="submit" class="btn" ng-class="isActive ? 'btn-primary' : 'btn-default'">Submit</button>
            </form>
          </div>

        </div>
      </header>

      <div class="container-fluid">
        <div class="home-date-wrapper row">
          <h3 class="home-date pull-right">{{currentDate}}</h3>
        </div>

        <div class="link-box-row row" ng-repeat="row in linkRows">

            <div class="col-md-3" ng-repeat="box in row">
              <div class="link-box">
                <span class="link-box-title">{{box.Name}}</span>
                <ul>
                  <li ng-repeat="l in box.Links">
                    <a href="{{l.Link}}">{{l.Name}}</a>
                  </li>
                </ul>
              </div>
            </div>

        </div>
      </div>

      <themer-chooser></themer-chooser>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular-sanitize.js"></script>
    <script src="scripts/themes.js"></script>
    <script src="scripts/dotcom.js"></script>
  </body>
</html>
