<div class="container-fluid">
    <form name="inputConfig" ng-submit="submit()">

      <div class="form-group">
        <label for="customSubtitle">Title</label>
        <input ng-model="pageConfig.Title" type="text" class="form-control" id="customTitle" placeholder="Page Title"/>
      </div>

      <div class="form-group">
        <label for="customSubtitle">Subtitle</label>
        <input ng-model="pageConfig.Subtitle" type="text" class="form-control" id="customSubtitle" placeholder="Subtitle"/>
      </div>

      <div class="form-group">
        <h4>Search</h4>
        <div class="form-group">
          <label for="customSearchName">Name</label>
          <input ng-model="pageConfig.Search.Name" type="text" class="form-control" id="customSearchName" placeholder="Search Name" />
        </div>
        <div class="form-group">
          <label for="customSearchUrl">Url</label>
          <input ng-model="pageConfig.Search.Url" type="text" class="form-control" id="customSearchUrl" placeholder="Search Url" />
        </div>
        <div class="form-group">
          <label for="customSearchQs">Query String</label>
          <input ng-model="pageConfig.Search.InputName" type="text" class="form-control" id="customSearchQs" placeholder="Query String" />
        </div>
      </div>

      <div class="form-group">
        <label for="customLinksPerRow">Groups Per Row</label>
        <input ng-model="pageConfig.GroupsPerRow" type="text" class="form-control" id="customGroupsPerRow" placeholder="Links per row" />
      </div>

      <div class="form-group">
        <h4>Link Boxes</h4>
        <div class="form-group" ng-repeat="box in pageConfig.Groups">
          <label>Box Name</label>
          <input ng-model="box.Name" type="text" class="form-control" />
          <div ng-repeat="link in box.Links">
            <div class="form-group">
              <label>Name</label>
              <input ng-model="link.Name" type="text" class="form-control" />
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-default" name="submit" type="submit">Submit</button>
    </form>
</dv>
